<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Producto</title>
</head>
<body>
    <h1>Detalles del Producto</h1>
    <div>
        <h2>{{product.name}}</h2>
        <p>Precio: ${{product.price}}</p>
        <p>Descripción: {{product.description}}</p>
        <img src="{{product.imageUrl}}" alt="Imagen de {{product.name}}" style="width:300px; height:auto;">
        <button onclick="addToCart('{{product._id}}')">Agregar al carrito</button>
    </div>
    <a href="/">Volver a Productos</a>

    <script>
        const socket = io();

        function addToCart(productId) {
            fetch(`/api/carts/default-cart/products/${productId}`, { 
                method: 'POST', 
                headers: { 'Content-Type': 'application/json' } 
            })
                .then((response) => response.json())
                .then((data) => {
                    alert('Producto agregado al carrito.');
                })
                .catch((error) => console.error('Error:', error));
        }
    </script>
</body>
</html>
